__pycache__/
*.pyc
.env
*.log
instance/
venv/
Data/
dump.rdb
app.log
stripe.cfg
newswhip/
minikube-darwin-arm64
--env
build_docker_image.sh
reset_docker.sh
run_container.sh
shell.sh
api_tests/login.py
api_tests/test_token.py
decode.py
test.sh
test_auth.py
test_user_management.py
x.sh

